* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 #seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
    position: static;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../img/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-left: 20px;
}

.bodydiv {
    margin-bottom: 20px;
    padding: 40px;
    height: 33.3%;
    font-size: 20px;
    display: inline-flex;
    background-color: #0072bb;
    color: #ffffff;
}

.imagesize {
    max-height: 200px;
    padding-right: 20px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.benefitimgs img {
    display: block;
    margin: 5px auto;
    max-width: 150px;
}

h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;

}
h3 {
    font-size: 25px;
    margin-top: 10px;
}
